<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @golf_course, partial: "card", as: :golf_course %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "golf_courses/golf_course_holes_overviews" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "golf_courses/golf_course_rounds" %>
  </div>
</div>
