<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Holes Results

    <a data-toggle="collapse" href="#round_holes_results_new_form">
      Add holes result
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @round.holes_results.each do |holes_result| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to holes_result, holes_result %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to holes_result, method: :delete, data: { confirm: "Do you really want to delete this holes_result" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="round_holes_results_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
