<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @round, partial: "card", as: :round %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "rounds/round_holes_results" %>
  </div>
</div>
