<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Rounds

    <a data-toggle="collapse" href="#user_rounds_new_form">
      Add round
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.rounds.each do |round| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to round, round %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_rounds_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
