<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @holes_result, partial: "card", as: :holes_result %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "holes_results/holes_result_shots" %>
  </div>
</div>
